langchain
langgraph
langgraph-checkpoint-sqlite
langchain-community
langchain-core
langchain-huggingface

zhipuai

gradio

pymysql

faiss-cpu
sentence-transformers

python-dotenv

requests

mcp

fastapi
uvicorn[standard]
sse-starlette
